In [1]:
from newsapi import NewsApiClient
import requests
import datetime as dt 
import pandas as pd

In [2]:
newsapi = NewsApiClient(api_key='6635d9701181427ba6a4ccd661fdc191')

In [3]:
data_bbc = newsapi.get_everything(q='COVID-19',sources='bbc-news',language='en',page_size=100)
data_abc = newsapi.get_everything(q='Coronavirus',sources='abc-news',language='en',page_size=100)
data_ap = newsapi.get_everything(q='COVID-19',sources='associated-press',language='en',page_size=100)
data_rel = newsapi.get_everything(q='Coronavirus',language='en',sort_by='relevancy',page_size=100)
data_pop = newsapi.get_everything(q='COVID-19',language='en',sort_by='popularity',page_size=100)

In [4]:
bbc_articles = data_bbc['articles']
abc_articles = data_abc['articles']
ap_articles = data_ap['articles']
rel_articles = data_rel['articles']
pop_articles = data_pop['articles']

In [5]:
df = pd.DataFrame(bbc_articles)
df_2 = pd.DataFrame(abc_articles)
df_3 = pd.DataFrame(ap_articles)
df_4 = pd.DataFrame(rel_articles)
df_5 = pd.DataFrame(pop_articles)
dfs = [df, df_2, df_3, df_4, df_5]
dataframe = pd.concat(dfs)
dataframe.head()

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': 'bbc-news', 'name': 'BBC News'}",BBC News,LGBT: Covid-19 forced me back home where I'm '...,'Emma' lost her job and had to move back to th...,https://www.bbc.co.uk/news/av/world-africa-528...,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-30T23:02:38Z,None
1,"{'id': 'bbc-news', 'name': 'BBC News'}",https://www.facebook.com/bbcnews,Coronavirus: Brazil now fourth-highest nation ...,"Brazil records almost 1,000 deaths in a day, t...",https://www.bbc.co.uk/news/world-latin-america...,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-31T14:33:02Z,Image copyrightEPAImage caption\r\n Covid-19 t...
2,"{'id': 'bbc-news', 'name': 'BBC News'}",BBC News,India coronavirus: Children portray Covid-19 a...,Some Indian children have taken to art to comb...,https://www.bbc.co.uk/news/av/world-asia-india...,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-09T23:20:09Z,None
3,"{'id': 'bbc-news', 'name': 'BBC News'}",https://www.facebook.com/bbcnews,Coronavirus: How Turkey took control of Covid-...,"Even without imposing a total lockdown, Turkey...",https://www.bbc.co.uk/news/world-europe-52831017,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-28T23:23:51Z,Image copyrightEPAImage caption\r\n Turkey has...
4,"{'id': 'bbc-news', 'name': 'BBC News'}",https://www.facebook.com/bbcnews,Mumbai: How Covid-19 has ravaged India's riche...,"With nearly 30,000 cases, Mumbai accounts for ...",https://www.bbc.co.uk/news/world-asia-india-52...,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-27T00:03:50Z,Image caption\r\n Mumbai's medical infrastruct...

In [6]:
pwd

'/Users/danielleo/Documents/aseriousblog/code_notebooks'

In [7]:
dataframe.to_csv('/Users/danielleo/Documents/aseriousblog/code_notebooks/dataframe.csv')

In [8]:
dataframe

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': 'bbc-news', 'name': 'BBC News'}",BBC News,LGBT: Covid-19 forced me back home where I'm '...,'Emma' lost her job and had to move back to th...,https://www.bbc.co.uk/news/av/world-africa-528...,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-30T23:02:38Z,None
1,"{'id': 'bbc-news', 'name': 'BBC News'}",https://www.facebook.com/bbcnews,Coronavirus: Brazil now fourth-highest nation ...,"Brazil records almost 1,000 deaths in a day, t...",https://www.bbc.co.uk/news/world-latin-america...,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-31T14:33:02Z,Image copyrightEPAImage caption\r\n Covid-19 t...
2,"{'id': 'bbc-news', 'name': 'BBC News'}",BBC News,India coronavirus: Children portray Covid-19 a...,Some Indian children have taken to art to comb...,https://www.bbc.co.uk/news/av/world-asia-india...,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-09T23:20:09Z,None
3,"{'id': 'bbc-news', 'name': 'BBC News'}",https://www.facebook.com/bbcnews,Coronavirus: How Turkey took control of Covid-...,"Even without imposing a total lockdown, Turkey...",https://www.bbc.co.uk/news/world-europe-52831017,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-28T23:23:51Z,Image copyrightEPAImage caption\r\n Turkey has...
4,"{'id': 'bbc-news', 'name': 'BBC News'}",https://www.facebook.com/bbcnews,Mumbai: How Covid-19 has ravaged India's riche...,"With nearly 30,000 cases, Mumbai accounts for ...",https://www.bbc.co.uk/news/world-asia-india-52...,https://ichef.bbci.co.uk/news/1024/branded_new...,2020-05-27T00:03:50Z,Image caption\r\n Mumbai's medical infrastruct...
...,...,...,...,...,...,...,...,...
95,"{'id': 'engadget', 'name': 'Engadget'}",Billy Steele,Recommended Reading: He bought StubHub right b...,"Worst. Deal. Ever.Noah Kirsch, ForbesIn Novemb...",https://www.engadget.com/recommended-reading-s...,https://o.aolcdn.com/images/dims?resize=1200%2...,2020-05-30T14:00:40Z,"Allison Aubrey, Laurel Wamsley and Carmel Roth..."
96,"{'id': 'engadget', 'name': 'Engadget'}",Mariella Moon,Sling TV president replaced as subscriber numb...,Sling TV President Warren Schlichting has left...,https://www.engadget.com/sling-tv-president-re...,https://o.aolcdn.com/images/dims?resize=1200%2...,2020-06-02T04:46:22Z,Sling TV President Warren Schlichting has left...
97,"{'id': 'engadget', 'name': 'Engadget'}",Jon Fingas,Supercomputers across Europe have fallen to cr...,"Cryptomining hacks aren’t new by any stretch, ...",https://www.engadget.com/supercomputer-cryptom...,https://o.aolcdn.com/images/dims?resize=1200%2...,2020-05-18T02:15:27Z,"Cryptomining hacks aren’t new by any stretch, ..."
98,"{'id': 'engadget', 'name': 'Engadget'}",Mariella Moon,'Iron Man VR' gameplay demo arrives to satisfy...,It looks like Marvel’s Iron Man VR truly will ...,https://www.engadget.com/iron-man-vr-demo-2212...,https://o.aolcdn.com/images/dims?resize=1200%2...,2020-05-23T22:12:51Z,It’s not just the game itself that’s launching...
99,"{'id': 'engadget', 'name': 'Engadget'}",Steve Dent,Formula E racer disqualified for using an espo...,Formula E Audi driver Daniel Abt has been disq...,https://www.engadget.com/formula-e-daniel-abt-...,https://o.aolcdn.com/images/dims?resize=1200%2...,2020-05-25T08:07:37Z,"Abt did have a Zoom feed going, but his face w..."

In [9]:
dataframe.drop(['source','author','url','urlToImage','publishedAt','urlToImage', 'description', 'content'], axis=1, inplace=True)

In [11]:
dataframe

                                                title
0   LGBT: Covid-19 forced me back home where I'm '...
1   Coronavirus: Brazil now fourth-highest nation ...
2   India coronavirus: Children portray Covid-19 a...
3   Coronavirus: How Turkey took control of Covid-...
4   Mumbai: How Covid-19 has ravaged India's riche...
..                                                ...
95  Recommended Reading: He bought StubHub right b...
96  Sling TV president replaced as subscriber numb...
97  Supercomputers across Europe have fallen to cr...
98  'Iron Man VR' gameplay demo arrives to satisfy...
99  Formula E racer disqualified for using an espo...

[500 rows x 1 columns]

In [12]:
fake_news = pd.read_csv('./fact_check_data.csv')

In [13]:
fake_news

    Fact Check: Greg Evensen's 'Heads Up Oklahoma' Posted By Johnnie Cheadle Is NOT About 2020 Coronavirus
0    Fact Check: 'Thousands Upon Thousands' Of Chil...
1    Fact Check: No Research Proves Mouthwash Could...
2    Fact Check: Worker Did NOT Expose COV-19 Circu...
3    Fact Check: The United States Is NOT The Only ...
4    Fact Check: Bill Gates Will NOT Personally Pro...
..                                                 ...
220  Fake News: 'High-Level Exercise' Conducted 3 M...
221  Fact Check: NO Proof That Spray Can Protect Ag...
222  Fact Check: 2015 Article About Lab-Made Corona...
223  Fake News: Coronavirus in China: Millions Quar...
224  Fake News: Patent For Coronavirus That Expired...

[225 rows x 1 columns]

In [14]:
poynter = pd.read_csv('./poynter_false_articles.csv')

In [16]:
poynter

,false_articles,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,American Vice-President Mike Pence was caught ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Australia’s COVIDSafe app tracks users’ locati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Madagascar has found a “coronavirus medicine” ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A video shows a Maasai tribe member in Kenya w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A widely-circulated image claims to reveal the...,antifreeze,phenol,animal blood,animal viruses,and formaldehyde.,NaN,NaN
...,...,...,...,...,...,...,...,...
753,“There’s magically already a vaccine available.”,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,“A patent on this ‘new’ coronavirus expired on...,today”.,NaN,NaN,NaN,NaN,NaN,NaN
755,“There’s magically already a vaccine available.”,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756,“There’s magically already a vaccine available.”,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,The coronavirus was created in a lab and paten...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
poynter.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'], axis=1, 
             inplace=True)

In [18]:
poynter

                                        false_articles
0    American Vice-President Mike Pence was caught ...
1    Australia’s COVIDSafe app tracks users’ locati...
2    Madagascar has found a “coronavirus medicine” ...
3    A video shows a Maasai tribe member in Kenya w...
4    A widely-circulated image claims to reveal the...
..                                                 ...
753   “There’s magically already a vaccine available.”
754  “A patent on this ‘new’ coronavirus expired on...
755   “There’s magically already a vaccine available.”
756   “There’s magically already a vaccine available.”
757  The coronavirus was created in a lab and paten...

[758 rows x 1 columns]

In [19]:
#dataframe.to_csv('/Users/danielleo/Documents/aseriousblog/code_notebooks/dataframe.csv')
poynter.to_csv('/Users/danielleo/Documents/aseriousblog/code_notebooks/poynter_fake_news.csv')

In [20]:
dataframe.to_csv('/Users/danielleo/Documents/aseriousblog/code_notebooks/real_news.csv')

In [22]:
poynter['Label'] = 'Fake'

In [23]:
poynter

                                        false_articles Label
0    American Vice-President Mike Pence was caught ...  Fake
1    Australia’s COVIDSafe app tracks users’ locati...  Fake
2    Madagascar has found a “coronavirus medicine” ...  Fake
3    A video shows a Maasai tribe member in Kenya w...  Fake
4    A widely-circulated image claims to reveal the...  Fake
..                                                 ...   ...
753   “There’s magically already a vaccine available.”  Fake
754  “A patent on this ‘new’ coronavirus expired on...  Fake
755   “There’s magically already a vaccine available.”  Fake
756   “There’s magically already a vaccine available.”  Fake
757  The coronavirus was created in a lab and paten...  Fake

[758 rows x 2 columns]

In [25]:
dataframe['Label'] = 'Real'

In [26]:
dataframe

                                                title Label
0   LGBT: Covid-19 forced me back home where I'm '...  Real
1   Coronavirus: Brazil now fourth-highest nation ...  Real
2   India coronavirus: Children portray Covid-19 a...  Real
3   Coronavirus: How Turkey took control of Covid-...  Real
4   Mumbai: How Covid-19 has ravaged India's riche...  Real
..                                                ...   ...
95  Recommended Reading: He bought StubHub right b...  Real
96  Sling TV president replaced as subscriber numb...  Real
97  Supercomputers across Europe have fallen to cr...  Real
98  'Iron Man VR' gameplay demo arrives to satisfy...  Real
99  Formula E racer disqualified for using an espo...  Real

[500 rows x 2 columns]

In [28]:
fake_news['Label'] = 'Fake'

In [29]:
fake_news

,Fact Check: Greg Evensen's 'Heads Up Oklahoma' Posted By Johnnie Cheadle Is NOT About 2020 Coronavirus,Label
0,Fact Check: 'Thousands Upon Thousands' Of Chil...,Fake
1,Fact Check: No Research Proves Mouthwash Could...,Fake
2,Fact Check: Worker Did NOT Expose COV-19 Circu...,Fake
3,Fact Check: The United States Is NOT The Only ...,Fake
4,Fact Check: Bill Gates Will NOT Personally Pro...,Fake
...,...,...
220,Fake News: 'High-Level Exercise' Conducted 3 M...,Fake
221,Fact Check: NO Proof That Spray Can Protect Ag...,Fake
222,Fact Check: 2015 Article About Lab-Made Corona...,Fake
223,Fake News: Coronavirus in China: Millions Quar...,Fake
224,Fake News: Patent For Coronavirus That Expired...,Fake

In [30]:
fake_news.columns

Index(['Fact Check: Greg Evensen's 'Heads Up Oklahoma' Posted By Johnnie Cheadle Is NOT About 2020 Coronavirus', 'Label'], dtype='object')

In [31]:
fake_news.columns = ['Text', 'Label']

In [32]:
fake_news

                                                  Text Label
0    Fact Check: 'Thousands Upon Thousands' Of Chil...  Fake
1    Fact Check: No Research Proves Mouthwash Could...  Fake
2    Fact Check: Worker Did NOT Expose COV-19 Circu...  Fake
3    Fact Check: The United States Is NOT The Only ...  Fake
4    Fact Check: Bill Gates Will NOT Personally Pro...  Fake
..                                                 ...   ...
220  Fake News: 'High-Level Exercise' Conducted 3 M...  Fake
221  Fact Check: NO Proof That Spray Can Protect Ag...  Fake
222  Fact Check: 2015 Article About Lab-Made Corona...  Fake
223  Fake News: Coronavirus in China: Millions Quar...  Fake
224  Fake News: Patent For Coronavirus That Expired...  Fake

[225 rows x 2 columns]

In [33]:
poynter.columns = ['Text', 'Label']

In [34]:
dataframe.columns = ['Text', 'Label']

In [35]:
poynter

                                                  Text Label
0    American Vice-President Mike Pence was caught ...  Fake
1    Australia’s COVIDSafe app tracks users’ locati...  Fake
2    Madagascar has found a “coronavirus medicine” ...  Fake
3    A video shows a Maasai tribe member in Kenya w...  Fake
4    A widely-circulated image claims to reveal the...  Fake
..                                                 ...   ...
753   “There’s magically already a vaccine available.”  Fake
754  “A patent on this ‘new’ coronavirus expired on...  Fake
755   “There’s magically already a vaccine available.”  Fake
756   “There’s magically already a vaccine available.”  Fake
757  The coronavirus was created in a lab and paten...  Fake

[758 rows x 2 columns]

In [36]:
dataframe

                                                 Text Label
0   LGBT: Covid-19 forced me back home where I'm '...  Real
1   Coronavirus: Brazil now fourth-highest nation ...  Real
2   India coronavirus: Children portray Covid-19 a...  Real
3   Coronavirus: How Turkey took control of Covid-...  Real
4   Mumbai: How Covid-19 has ravaged India's riche...  Real
..                                                ...   ...
95  Recommended Reading: He bought StubHub right b...  Real
96  Sling TV president replaced as subscriber numb...  Real
97  Supercomputers across Europe have fallen to cr...  Real
98  'Iron Man VR' gameplay demo arrives to satisfy...  Real
99  Formula E racer disqualified for using an espo...  Real

[500 rows x 2 columns]

In [37]:
fake_news.head()

                                                Text Label
0  Fact Check: 'Thousands Upon Thousands' Of Chil...  Fake
1  Fact Check: No Research Proves Mouthwash Could...  Fake
2  Fact Check: Worker Did NOT Expose COV-19 Circu...  Fake
3  Fact Check: The United States Is NOT The Only ...  Fake
4  Fact Check: Bill Gates Will NOT Personally Pro...  Fake

In [41]:
fake_news.str.replace('Fact Check: ','')

AttributeError: 'DataFrame' object has no attribute 'str'

In [39]:
fake_news.dtypes

Text     object
Label    object
dtype: object

In [44]:
df = fake_news['Text'].str.replace('Fact Check: ','')

In [46]:
type(df)

pandas.core.series.Series

In [50]:
x = df.to_frame()

In [52]:
df_2 = x['Text'].str.replace('Fake News: ', '')

In [54]:
y = df_2.to_frame()

In [56]:
y['Label'] = 'Fake'

In [57]:
y

                                                  Text Label
0    'Thousands Upon Thousands' Of Children Purport...  Fake
1    No Research Proves Mouthwash Could Protect Aga...  Fake
2    Worker Did NOT Expose COV-19 Circuit Boards Be...  Fake
3    The United States Is NOT The Only Country On E...  Fake
4    Bill Gates Will NOT Personally Profit From A C...  Fake
..                                                 ...   ...
220  'High-Level Exercise' Conducted 3 Months Ago D...  Fake
221  NO Proof That Spray Can Protect Against Corona...  Fake
222  2015 Article About Lab-Made Coronavirus Trigge...  Fake
223  Coronavirus in China: Millions Quarantined, 2....  Fake
224  Patent For Coronavirus That Expired Is NOT For...  Fake

[225 rows x 2 columns]

In [58]:
df_list = [y, poynter, dataframe]
data_frame = pd.concat(df_list)
data_frame.to_csv('/Users/danielleo/Documents/aseriousblog/code_notebooks/data_frame.csv')

In [59]:
data_frame

                                                 Text Label
0   'Thousands Upon Thousands' Of Children Purport...  Fake
1   No Research Proves Mouthwash Could Protect Aga...  Fake
2   Worker Did NOT Expose COV-19 Circuit Boards Be...  Fake
3   The United States Is NOT The Only Country On E...  Fake
4   Bill Gates Will NOT Personally Profit From A C...  Fake
..                                                ...   ...
95  Recommended Reading: He bought StubHub right b...  Real
96  Sling TV president replaced as subscriber numb...  Real
97  Supercomputers across Europe have fallen to cr...  Real
98  'Iron Man VR' gameplay demo arrives to satisfy...  Real
99  Formula E racer disqualified for using an espo...  Real

[1483 rows x 2 columns]

In [60]:
data_frame.reset_index(inplace=True)

In [63]:
data_frame

      index                                               Text Label
0         0  'Thousands Upon Thousands' Of Children Purport...  Fake
1         1  No Research Proves Mouthwash Could Protect Aga...  Fake
2         2  Worker Did NOT Expose COV-19 Circuit Boards Be...  Fake
3         3  The United States Is NOT The Only Country On E...  Fake
4         4  Bill Gates Will NOT Personally Profit From A C...  Fake
...     ...                                                ...   ...
1478     95  Recommended Reading: He bought StubHub right b...  Real
1479     96  Sling TV president replaced as subscriber numb...  Real
1480     97  Supercomputers across Europe have fallen to cr...  Real
1481     98  'Iron Man VR' gameplay demo arrives to satisfy...  Real
1482     99  Formula E racer disqualified for using an espo...  Real

[1483 rows x 3 columns]

In [66]:
data_frame.drop(['index'], inplace=True)

KeyError: "['index'] not found in axis"

In [68]:
type(data_frame)

pandas.core.frame.DataFrame

In [69]:
data_frame.drop(['index'], inplace=True, axis=1)

In [70]:
data_frame

                                                   Text Label
0     'Thousands Upon Thousands' Of Children Purport...  Fake
1     No Research Proves Mouthwash Could Protect Aga...  Fake
2     Worker Did NOT Expose COV-19 Circuit Boards Be...  Fake
3     The United States Is NOT The Only Country On E...  Fake
4     Bill Gates Will NOT Personally Profit From A C...  Fake
...                                                 ...   ...
1478  Recommended Reading: He bought StubHub right b...  Real
1479  Sling TV president replaced as subscriber numb...  Real
1480  Supercomputers across Europe have fallen to cr...  Real
1481  'Iron Man VR' gameplay demo arrives to satisfy...  Real
1482  Formula E racer disqualified for using an espo...  Real

[1483 rows x 2 columns]

In [71]:
data_frame.to_csv('/Users/danielleo/Documents/aseriousblog/code_notebooks/df.csv')

In [74]:
data_bloomberg = newsapi.get_everything(q='COVID-19',sources='bloomberg',language='en',page_size=100)
data_cnn = newsapi.get_everything(q='Coronavirus',sources='cnn',language='en',page_size=100)
data_financial_post = newsapi.get_everything(q='COVID-19',sources='financial-post',language='en',page_size=100)
data_cbs_news = newsapi.get_everything(q='COVID-19',sources='cbs-news',language='en',page_size=100)
data_abc_au = newsapi.get_everything(q='COVID-19',sources='abc-news-au',language='en',page_size=100)

In [75]:
bloomberg_articles = data_bloomberg['articles']
cnn_articles = data_cnn['articles']
fin_post_articles = data_financial_post['articles']
cbs_articles = data_cbs_news['articles']
abc_au_articles = data_abc_au['articles']

a = pd.DataFrame(bloomberg_articles)
b = pd.DataFrame(cnn_articles)
c = pd.DataFrame(fin_post_articles)
d = pd.DataFrame(cbs_articles)
e = pd.DataFrame(abc_au_articles)
yyy = [a,b,c,d,e]
hello = pd.concat(yyy)
hello.head()

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': 'bloomberg', 'name': 'Bloomberg'}",None,Musk Foils Tesla Claim It’s Handled Covid-19 L...,<ol><li>Musk Foils Tesla Claim It’s Handled Co...,https://www.bloomberg.com/tosv2.html?vid=&uuid...,None,2020-05-11T01:32:29Z,None
1,"{'id': 'bloomberg', 'name': 'Bloomberg'}",None,Why New York Suffered When Other Cities Were S...,<ol><li>Why New York Suffered When Other Citie...,https://www.bloomberg.com/tosv2.html?vid=&uuid...,None,2020-05-28T14:55:05Z,None
2,"{'id': 'bloomberg', 'name': 'Bloomberg'}",None,Scientists Question Study Linking Malaria Drug...,<ol><li>Scientists Question Study Linking Mala...,https://www.bloomberg.com/tosv2.html?vid=&uuid...,None,2020-05-29T10:58:00Z,None
3,"{'id': 'bloomberg', 'name': 'Bloomberg'}",None,Counting Covid-19 Deaths,None,https://www.bloomberg.com/news/videos/2020-05-...,None,2020-05-28T04:30:40Z,None
4,"{'id': 'bloomberg', 'name': 'Bloomberg'}",None,Instacart Shoppers During Covid-19,None,https://www.bloomberg.com/news/videos/2020-05-...,None,2020-05-07T17:51:16Z,None

In [76]:
hello.drop(['source','author','url','urlToImage','publishedAt','urlToImage', 'description', 'content'], 
           axis=1, inplace=True)

In [78]:
hello['Label'] = 'Real'

In [79]:
hello

                                                title Label
0   Musk Foils Tesla Claim It’s Handled Covid-19 L...  Real
1   Why New York Suffered When Other Cities Were S...  Real
2   Scientists Question Study Linking Malaria Drug...  Real
3                            Counting Covid-19 Deaths  Real
4                  Instacart Shoppers During Covid-19  Real
..                                                ...   ...
95  Counting the COVID-19 costs — the heath succes...  Real
96  Coronavirus update: Australia's first human tr...  Real
97  Sex workers fear choice between paying rent an...  Real
98  In the era of COVID-19, Barnaby Joyce's corona...  Real
99  Melbourne packaging facility closed as seven m...  Real

[500 rows x 2 columns]

In [80]:
List = [hello, data_frame]
dff = pd.concat(List)
dff.head()

/Users/danielleo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  Label Text                                              title
0  Real  NaN  Musk Foils Tesla Claim It’s Handled Covid-19 L...
1  Real  NaN  Why New York Suffered When Other Cities Were S...
2  Real  NaN  Scientists Question Study Linking Malaria Drug...
3  Real  NaN                           Counting Covid-19 Deaths
4  Real  NaN                 Instacart Shoppers During Covid-19

In [81]:
hello.columns = ['Text', 'Label']

In [82]:
hello

                                                 Text Label
0   Musk Foils Tesla Claim It’s Handled Covid-19 L...  Real
1   Why New York Suffered When Other Cities Were S...  Real
2   Scientists Question Study Linking Malaria Drug...  Real
3                            Counting Covid-19 Deaths  Real
4                  Instacart Shoppers During Covid-19  Real
..                                                ...   ...
95  Counting the COVID-19 costs — the heath succes...  Real
96  Coronavirus update: Australia's first human tr...  Real
97  Sex workers fear choice between paying rent an...  Real
98  In the era of COVID-19, Barnaby Joyce's corona...  Real
99  Melbourne packaging facility closed as seven m...  Real

[500 rows x 2 columns]

In [83]:
LList = [hello, data_frame]
dfffff = pd.concat(LList)
dfffff.head()

                                                Text Label
0  Musk Foils Tesla Claim It’s Handled Covid-19 L...  Real
1  Why New York Suffered When Other Cities Were S...  Real
2  Scientists Question Study Linking Malaria Drug...  Real
3                           Counting Covid-19 Deaths  Real
4                 Instacart Shoppers During Covid-19  Real

In [84]:
dfffff

                                                   Text Label
0     Musk Foils Tesla Claim It’s Handled Covid-19 L...  Real
1     Why New York Suffered When Other Cities Were S...  Real
2     Scientists Question Study Linking Malaria Drug...  Real
3                              Counting Covid-19 Deaths  Real
4                    Instacart Shoppers During Covid-19  Real
...                                                 ...   ...
1478  Recommended Reading: He bought StubHub right b...  Real
1479  Sling TV president replaced as subscriber numb...  Real
1480  Supercomputers across Europe have fallen to cr...  Real
1481  'Iron Man VR' gameplay demo arrives to satisfy...  Real
1482  Formula E racer disqualified for using an espo...  Real

[1983 rows x 2 columns]

In [85]:
dfffff.to_csv('/Users/danielleo/Documents/aseriousblog/code_notebooks/dataframe.csv')